# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production build
build/
dist/
target/
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Cache
.cache/
.gradle/
.npm/

# Spring Boot
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Misc
.DS_Store
*.pem
.vercel
